extends ../templates/basic.jade

block content
  h1 Welcome Mathew
  h3 Stock Portfolio
  section.portfolio-table
    div.t-col.sym Symbol
      for thing in test
        p #{thing.symbol}
    div.t-col.cmpny Company
      for thing in test
        p #{thing.name}
    div.t-col.qty Qty
      for thing in test
        p #{thing.qty}
    div.t-col.price Price
      for thing in test
        p #{thing.price}

  if message
    h3 #{message}
